/* Página HTML */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


.page {
    display: grid;
    background: #FFFFFF;
    font-family: 'Barlow Condensed', sans-serif;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-columns: auto;
    grid-template-rows: 5rem calc(100vh - 5rem) auto;
}

/* Header */
.up {
    grid-area: header;
    grid-column: 1 / 2;
    grid-row:  1 / 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 10%;
    height: 100%;
    margin-left: 7rem;
    text-align: center;
}

.logo-text {  
    padding-bottom: .8rem;
    border-bottom: 1px solid black;
}

.nav-list-main {
    height: 100%;
    display: flex;
    align-items: center;
}

.list-main {
    display: flex;
    list-style: none;
}

.list-main a {
    text-decoration: none;
    color: #0b090a;
    padding: 2rem;
}

.list-main a:hover {
    background-color: #0b090a;
    color: #FFFFFF;
}

/* Main */
.content {
    grid-area: main;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background: url(../images/fundo.jpg) no-repeat;
}

.content-main {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-top: 2rem;
    width: 100%;
    height: 100%;
}

.content-main-image {
    display: flex;
}

.content-main-text  {
    font-size: 1.5rem;
    padding: 2rem 1rem;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

/* Footer */
.under {
    grid-area: footer;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.footer-main {
    background: #0b090a;
    color: #FFFFFF;
    display: flex;
}

.footer-main-logo {
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
}

.footer-main-menu {
    margin-left: 5rem;
    display: flex;
    align-items: space-around;
}

.footer-main-menu-list {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-right: 7rem;
}

.footer-main-menu-list > h3 {
    margin-left: 2.5rem;
}

.footer-main-menu-list li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-main-images {
    display: flex;
    align-items: center;
    margin-left: 15rem;
}

.footer-main-image {
    width: 25%;
    height: 25%;
    padding: 1rem;
}